@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
   background-color: rgba(211, 211, 211, 0.637);
   font-family: Arial, Helvetica, sans-serif;
      

}

#barradepesquisa{
    width: 600px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    background-position: right;
    margin-left: 500px;
    margin-top: 60px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px 1px;
    border: 1px solid black;
    position: absolute;
    
    
}


#container{
    position: relative;
    width: 700px;
    height: 200px;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
}

#container > i {
    margin-left: 200px;
    margin-top: 70px;
    position: absolute;
}
.logoprincipal{
    width: 200px;
    margin-left: 250px;
    margin-top: 20px;
    position: absolute;
          
}

.bg{
    background-image: url(imagens/planodefundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px;
    background-attachment: fixed;
}

li > a{
    text-align: left;
    background-color: #92929270;
    text-decoration: none;
   display: block;
   margin: 10px;
   color: white;
   padding: 20px;
    
}
li:hover{
    background-color: black;
}

menu{
    display: none;
    
}

main > i{
    cursor: pointer;
    margin: 30px;
}

main{
margin: left 100px;
margin-bottom: 100px;

} 


img{
    width: 100%;
    display: flex;
}

header{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.295);
    border-radius: 5px;
    text-align: center;
}

div#banerprincipal{
    height: auto;
    padding: 10px;
    margin-left: 40px;
    display: flex;
    width: 90%;
    
}


main> div {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    width: 60%;
    padding-bottom: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.295);

}

div:hover {
    background-color: chartreuse;
}

h2{
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(63, 63, 63);
    
}

aside#banerpequeno > div{
    display: flexbox;
    height: 120px;
    width: 195px;
    margin: 1px;
    margin-left: 30px;
    margin-bottom: 10px;
    vertical-align: middle;
    padding: 3px;
    
    

    
    
    
}

aside > div{
    display: inline-block;
    background-color: rgb(238, 237, 237);
    border: 1px solid black;
    text-align: left;
    height: 100px;
    width: 350px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.295);
}

article> img{
    margin: auto;
    display: flex;
    width: 10%;
}
article{
    background-color: black;
    padding-top: 0px;
    display: flex;
    width: 100%;
}

p{
    color: black;
}
footer{
    
    background-color: rgb(238, 237, 237);
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;

}
footer .btn {
    font-size: 14px;
    background: #ddd;
    font-weight: 600;
    margin: 0 0 20px 0;
    color: #333 !important;
    background: none !important;
}


h1{
    background-color: white;
    text-align: center;
    color: rgb(2, 2, 163);
}

h3{
    background-color: black;
    color: white;
    margin: 0px;
}

nav{
    margin-bottom: 30px;
    margin-top: 20px;
    outline: auto;
    outline-style: auto;
}
nav > a {
    text-decoration: none;
    color: rgb(24, 23, 23);
    font-weight: bold;
    text-align: center;
    margin-right: 30px;
    margin-left: 20px;
    padding-left: 20px;
    border-color: black;
    

}

